<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjFfGsZOjERAm2FxSZC5j2KgD3z74wLho</string>
	<key>GCM_SENDER_ID</key>
	<string>451451856056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocApiCallDemo</string>
	<key>PROJECT_ID</key>
	<string>reqres-api-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>reqres-api-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451451856056:ios:3b7ae75fe2dc1552a8c04d</string>
</dict>
</plist>